ul {
  list-style: none;
  width: 710px;
  display: flex;
  justify-content: space-evenly;
}
li {
  background-color: #f7f7f7;
  font-size: 1.7rem;
  font-weight: 800;
  width: 180px;
  border: solid 3px gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  display: inline-block;
  width: 140px;
  height: 190px;
  background-color: red;
  background-image: url("0-sprite.png");
  background-clip: content-box;
  background-size: cover;
  margin-top: 0.7rem;
  margin-bottom: 2rem;
}

li:nth-child(2) span {
  background-position: 49%;
}

li:nth-child(3) span {
  background-position: 100%;
}
